body {
    font-family: monospace;
}

h4, h5 {
    margin:0px;
}

.title {
    position:fixed;
    top:0px;
    left:0px;
    border: 3px white solid;
    height:1em;
    margin:0.5em;
    z-index:-99;
}

#header{
    padding-top: 3em;
}

#cv {
    position:fixed;
    top:0px;
    right:0px;
    width:3em;
    height:1em;
    font-size: 2em;
    border: 3px white solid;
    border-radius: 2px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    background-color: #4444ff;
    margin:0.5em;
}

#cv > a {
    text-decoration: none;
    color: white;
}

.outline-2 {
    float:left;
    border: 1px #556655 solid;
    border-radius: 10px 0px 0px 0px;
    border-bottom-style: none;
    border-right-style: none;
}

.outline-3 {
    float:left;
    border: 2px #555566 solid;
    border-radius: 10px 0px 0px 0px;
    border-bottom-style: none;
    border-right-style: none;
}

.outline-4 {
    float:left;
    border: 3px #665555 solid;
    border-radius: 10px;
}

.outline-5 {
    float:left;
    width:15em;
    height:7em;
    border: 4px #555555 solid;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;
}
